<h1>Your Tacks</h1>
<%= link_to 'New Tack', new_tack_path %>
<div class = "container">
  <div class = "row">
<% @tacks.each do |tack| %>
  <div class="tack">
    <%=link_to image_tag(tack.tack_image.url(:medium)), tack_path(tack)%>
        <br>
        <%= link_to tack.description, tack_path(tack) %>
  </div>

<% end %>
  </div>
</div>
