<div class="jumbotron">
  <h1 class="display-3">Welcome to Corkboard!</h1>
  <p class="lead">Let's get tacky.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
