<div class="jumbotron">
  <h1 class="display-3">Welcome to Corkboard!</h1>
  <p class="lead">Let's get tacky.</p>
  <p class="lead">
  <%= link_to 'My Board', tacks_path, class: "btn btn-success"%>
  </p>
</div>
