// Place all the styles related to the tacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tack_square {
  -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
}

.panel {
  margin-top: 10px;
}

.grid-item{
  margin-bottom: 25px;
}

.thumb_tack_img{
  margin: 0 auto;
  height: 50px;
}

.edit_tack_buttons {
  text-align: center;
}

.tack_image {
  border-radius: 100%;
  text-align: center;
}

.tack_image img{
  border-radius: 2%;
  margin-top: 5px;
}

.tack_descr{
  text-align: center;
}

.tack_descr a{
  color: black;
}

.corkboard{
  background-image: url("http://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg");
}

.tack_descr a:hover{
  text-decoration: none;
}

/* highlight drag & drop */

/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {

  z-index: 2; /* keep dragged item on top */
}
